@page "/RoomRevolution/{roomId}"
@using BlazorStrap
@using Client.Model.RoomRev.minesweeperLogic
@using Client.Model.RoomRev.minesweeperPresentation

<h3>This is the room revolution 2.0 ultra fixed new electric mechanical manager room id: @roomId, still working on it:</h3>

<label for="puntuacion">Puntuacion:</label>
<input type="text" value="@puntuacion.Item1" min="0" max="@logicaBuscaminas." step="1" disabled id="puntuacion" style="background-color:@(puntuacion.Item2? "green" : "red") " />

<button @onclick=medirLos10SegundosConUnTask>Begin 10 seconds countdown to lost</button>


<br> Progress BAR: 
<input type="range" value="@( logicaBuscaminas.totalBombs- logicaBuscaminas.FlagsRemaining)" disabled style="color:mediumpurple" min="0"  step="1" max="@logicaBuscaminas.totalBombs"/>
<br>

<div class="card">
    <BSContainer>

        <h3>Board</h3>

        @foreach( var row in Casillas ) {
            <BSRow>
                @foreach( Casilla casilla in row ) {
                    <button disabled="@(casilla.isZero || casilla.seleccionadaCuadrado.Equals("purple"))" style="width:30px; background-color:@casilla.seleccionadaCuadrado"
                            @oncontextmenu=" () => RightClick(casilla)"
                            @onclick="( e ) =>  LeftClick(e,casilla)"
                            @onmousewheel="(e) =>  LeftClick(e,casilla)">
                        <BSBadge Color="@casilla.ColorEstado">  @casilla.text  </BSBadge>
                    </button>
                }

            </BSRow>
        }
    </BSContainer>

    @*Indicadores
        bombs Remaining:   @game.bombsRemaining <br />
        bombs : @game.bombs <br />*@
    flags: @logicaBuscaminas.FlagsRemaining



    @if( logicaBuscaminas.Victory() ) {
        this.Casillas.ForEach(x => x.ForEach(y => y.pulsado = true));
        <label> YOU WIN </label>
    }




</div>

@code {

    public void aux() {
        Presentacion.ActualizarSeleccion(Casillas);
    }

    [Parameter] public string roomId { set; get; }

    public Tuple<long,bool> puntuacion { get; set; } = new Tuple<long,bool>(0,true);





    const int rows = 10;
    //Logica buscaminas
    private MinesweeperLogic logicaBuscaminas = new MinesweeperLogic(rows);
    //Presentacion
    private List<List<Casilla>> Casillas { get; set; }


    async Task medirLos10SegundosConUnTask() {
        System.Diagnostics.Debug.WriteLine("Starting Tourn");
        DateTime endTime = DateTime.UtcNow.AddSeconds(10);
        while( DateTime.UtcNow < endTime ) {
            await Task.Delay(100);
        }

        System.Diagnostics.Debug.WriteLine("Finished Tourn time");
    }

    protected override async Task OnInitializedAsync() {
        await Task.FromResult(this.Casillas = Presentacion.crearTablero(rows,logicaBuscaminas));
        Presentacion.ActualizarSeleccion(Casillas);
    }


    //Aciones mouse
    public void LeftClick( MouseEventArgs e,Casilla mine ) {
        //left click
        if( e.Detail == 1 ) {
            if( !mine.pulsado ) {
                if( !logicaBuscaminas.IsButtonFlagged(mine.X,mine.Y) ) {
                    bool alive = logicaBuscaminas.MakeMove(mine.X,mine.Y);

                    int bombs = logicaBuscaminas.neighborBombs(mine.X,mine.Y);


                    if( alive ) {
                        int bombsNeighb = logicaBuscaminas.neighborBombs(mine.X,mine.Y);
                        mine.MakeMove(bombsNeighb);

                        if( logicaBuscaminas.neighborBombs(mine.X,mine.Y).Equals(0) ) {
                            Presentacion.RevealZeroSquaresRecursion(Casillas,mine,logicaBuscaminas);
                        }

                        ActualizarPuntuacion(true);

                    }else ActualizarPuntuacion(false);

                }

                Presentacion.ActualizarSeleccion(Casillas);
            }
            MouseWheel(mine);

        }


    }

    public void RightClick( Casilla casilla ) {
        //right click

        if( !casilla.pulsado ) {

            if( casilla.bomb && !casilla.flag ) {
                logicaBuscaminas.Flag(casilla.X,casilla.Y);
                casilla.Flag();
                casilla.Block();
                ActualizarPuntuacion(true);
            }else ActualizarPuntuacion(false);
            Presentacion.ActualizarSeleccion(Casillas);

        }
    }



    public void MouseWheel( Casilla mine ) {
        if( !mine.pulsado ) return;


        List<Casilla> flag = Presentacion.CasillasAdyacentes(Casillas,mine).Where(x => x.flag).ToList();
        List<Casilla> notFlagAndNotOpen = Presentacion.CasillasAdyacentes(Casillas,mine).Where(x => !x.pulsado && !x.flag).ToList();
        int bombsNeighbor = logicaBuscaminas.neighborBombs(mine.X,mine.Y);
        if( flag.Count.Equals(bombsNeighbor) ) {
            notFlagAndNotOpen.ForEach(x => {


                bombsNeighbor = logicaBuscaminas.neighborBombs(x.X,x.Y);
                if( bombsNeighbor == 0 ) {
                    x.MakeMove(0);
                    Presentacion.RevealZeroSquaresRecursion(Casillas,x,logicaBuscaminas);
                }
                else {
                    if( logicaBuscaminas.MakeMove(x.X,x.Y) ) x.MakeMove(bombsNeighbor);
                }
            });
            mine.Block();
            if( !Presentacion.MovesLeftOnSelectedArea(Casillas) ) {
                ActualizarPuntuacion(true);
                Presentacion.ActualizarSeleccion(Casillas);
            }

        }
    }

    public void ActualizarPuntuacion(bool acierto ) {
        var p = puntuacion.Item1;
        p = acierto ? p + 1 : p - 1;
        puntuacion = Tuple.Create(p,acierto);
    }










}
